.idea/
*.iml
.classpath
.project
.settings/
.DS_Store
*~
packages/
/docker/snapshot/*.gz
.factorypath
.vscode
.checkstyle
.externalToolBuilders
aws/.terraform/
aws/terraform.tfstate
aws/terraform.tfstate.backup
ansible/local.var.yaml
ansible/inventory
!ansible/inventory/template
.terraform.tfstate.lock.info
terraform.tfvars
